<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Github Deployer</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Apps</h1>
	<div class="container">
		Click to <a href="/login">re-authenticate</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Instances</th>
					<th>Resource</th>
				</tr>
			</thead>
			<tbody>
				{{#apps}}
				<tr>
					<td>{{name}}</td>
					<td>{{runningInstances}}/{{instances}}</td> {{#resource}}
					<td>{{.}}</td>
					<td><form action="/" method="post">
							<input type="hidden" name="name" value="{{name}}" />
							<button type="submit" class="btn btn-primary">Redeploy</button>
						</form></td> {{/resource}} {{^resource}}
					<td></td>
					<td></td> {{/resource}}
				</tr>
				{{/apps}}
			</tbody>
		</table>
	</div>
</body>
</html>